<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a id="home_title" class="navbar-brand js-scroll-trigger" href="/" style="margin-left:7%">
      <img src="/Image/inven_logo.png" alt=""/></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars ml-1"></i>
      </button>

    <div class="collapse navbar-collapse" data-hover="dropdown" id="navbarResponsive">
    <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg"></div> -->
      <ul class="navbar-nav text-uppercase ml-auto">

        <%# NavBar Home Button %>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/"><i class="fas fa-home" style="margin-right:5px; font-size: 17px;"></i><p>Home</p></a>
        </li>

        <% if(session.memberID) { %>
          <% if(session.type== 'admin') { %>
            <li class="nav-item" id="resizemenu">
              <div class="dropdown"><a class="nav-link js-scroll-trigger dropdown-toggle" href="#"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:transparent;">Management</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="accountMenu">
                      <a class="dropdown-item" href="/Admin/RequestEnroll" id="account_ctrl">창고 등록 요청</a>
                      <a class="dropdown-item" href="/Admin/RequestBuy">창고 구매 요청</a>
                      <a class="dropdown-item" href="/Admin/ContractInfo">거래 기록 정보</a>
                  </div>
              </div>
            </li>
          <% } else if(session.type=='buyer') { %>
            <li class="nav-item"><a href="/Buyer/FindWH" class="nav-link js-scroll-trigger">Search Warehouse</a></li>
          <% } else if(session.type=='provider') { %>
            <li class="nav-item"><a href="/Provider/EnrollWH" class="nav-link js-scroll-trigger">Enroll Warehouse</a></li>
          <% } %>
        <% } %>


        <ul class="navbar-nav">
          <% if(!session.memberID) { %>
            <li class="nav-item js-scroll-trigger"><a href="/User/Register" class="nav-link js-scroll-trigger" >Sign Up</a></li>
            <li class="nav-item js-scroll-trigger"><a href="/User/Login" class="nav-link js-scroll-trigger">Login</a></li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                <i class="fab fa-twitter"></i><p class="d-lg-none d-xl-none">Twitter</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                <i class="fab fa-facebook-square"></i><p class="d-lg-none d-xl-none">Facebook</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                <i class="fab fa-instagram"></i><p class="d-lg-none d-xl-none">Instagram</p>
              </a>
            </li>
          <% } else { %>
          <% if(session.type== 'buyer'|| session.type== 'provider') { %>
            <% if(session.type== 'buyer') { %>
              <li class="nav-item"><a href="/Buyer/MyWarehouse" class="nav-link js-scroll-trigger">MyWarehouse</a></li>
            <% } %>
            <% if(session.type== 'provider') { %>
              <li class="nav-item"><a href="/Provider/MyWarehouse" class="nav-link js-scroll-trigger">My Warehouse</a></li>
            <% } %>
              <li class="nav-item"><a href="/User/Show" class="nav-link js-scroll-trigger">MyInfo</a></li>
          <% } %>
            <li class="nav-item"><a href="/User/Logout" class="nav-link js-scroll-trigger">Logout</a></li>
          <% } %>
    </ul>
    </div>
  </div>
</nav>

<script>
  var usertype = '<%- session.type %>';
  console.log(usertype);
  //management메뉴 resize
  $(window).resize(function () {
      if ($(window).width() < 991) {
          if (usertype == 'admin') {
              $("#resizemenu").html(
                  '<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/User/Logout id="account_ctrl">Logout</a></li>' +
                  '<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/Admin/RequestEnroll">창고 등록 요청</a></li>' +
                  '<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/Admin/RequestBuy">창고 구매 요청</a></li>' +
                  '<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/Admin/ContractInfo">거래 기록</a></li>'
              );
          } else {
              $("#resizemenu").html(
                  '<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signin" id="account_ctrl">Signin</a></li>' +
                  '<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cart">Cart</a></li>');
          }

      } else {
          if (usertype) {
              $("#resizemenu").html(
                  '<div class="dropdown"><a class="nav-link js-scroll-trigger dropdown-toggle" href="#"' +
                  'data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:transparent;">Management</a>' +
                  '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="accountMenu">' +
                  '<a class="dropdown-item" href="/Admin/RequestEnroll" id="account_ctrl">창고 등록 요청</a>' +
                  '<a class="dropdown-item" href="/Admin/RequestBuy">창고 구매 요청</a>' +
                  '<a class="dropdown-item" href="/Admin/ContractInfo">거래 기록</a></div></div>'
              );
          } else {
              $("#resizemenu").html(
                  '<div class="dropdown"><a class="nav-link js-scroll-trigger dropdown-toggle" href="#"' +
                  'data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Account</a>' +
                  '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
                  '<a class="dropdown-item" href="/signin" id="account_ctrl">Signin</a>' +
                  '<a class="dropdown-item" href="/cart">Cart</a>'

              );
          }
      }
  });
</script>
