.row a:hover{
    text-decoration: none;
}
.text-center div{
    background-color:#212529;
    box-shadow: 5px 5px 5px 5px gray;
    padding-top:0.5%;
}
.dropdown-menu{
  background-color:#212529;
}
.dropdown-item{
  color:white!important;
}
.dropdown-item:hover{
  background-color: silver!important;
}

